<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube clip and playList RestAPI maker</title>
    <link rel="stylesheet" href="./styled_files/idx_pag.css">
</head>
<body>

    <div id="mainBox">
        <%- include("../views/index_page/idx_ctrl_pannel"); %>
        <%- include("../views/index_page/mainDinBlk"); %>
    </div>


    <div id="footerBox">
        <footer>
            &copy; all rights reserved | giuseppe tarallo | UK, London 2023
        </footer>
    </div>


</body>
</html>


<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.0/axios.min.js" integrity="sha512-g9GYqVD6gG0rg3EnnKAJ5OPsZnxoLHhSQ5pgqjvVCS1jk2tnVxaqVpCh1oKqgADTAGTIbYvP2gII0zHyUrKCFA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="./js_files/validate_user_input.js"></script>
<script src="./js_files/get_user_submit.js"></script>
<script src="./js_files/cpy_to_clipboard.js"></script>
