<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play list Index</title>
    <link type="text/css" rel='stylesheet' href="./styled_files/playListPage.css" />
    <link type="text/css" rel='stylesheet' href="./styled_files/banner_restAPI.css" />
</head>
<body>

    <h1 class="titlePage">
            Video properties getter       
    </h1>

    <h4>
        <a href="/show_restAPI">Show restAPI</a>
    </h4>

    <script src="./js_files/show_restAPI_info.js"></script>

    <%- include("../views/playListPage/dinamicBlk") %>
    
</body>
</html>