<div id='sAPI' class="noShow">
    <div class="banner_restAPI">

        <h4>
            restAPI how to
        </h4>
        <p>
            Using these instructions you can request the restAPI used to create the contents of this application.
        </p>
        <p>
            Requests to obtain the restAPI support two modes.
        </p>

        <ul class="modalityRestAPI">
            <li>Show full restAPI.</li>
            <li>Specific ID, to show a specific element of the restAPI.</li>
        </ul>

        <h5>
            Full restAPI:
        </h5>
        <p class="restAPI_sintax">
            http://localhost:3000/?urlPlayList=https://www.youtube.com/playlist?list=PLUz4earlBA-cF4XXctNtOjq-ZcBHI3To3<b>&PlyLstRestAPI=true</b>
        </p>

        <h5>
            Specific ID:
        </h5>

        <p class="restAPI_sintax">
            http://localhost:3000/?urlPlayList=https://www.youtube.com/playlist?list=PLUz4earlBA-cF4XXctNtOjq-ZcBHI3To3<b>&PlyLstRestAPI=true&eId=numero_da_richiedere</b>
        </p>        
    </div>
</div>
